button {
    width: 100%;
    height: 10vh;
    font-size: 50px;
    font-weight: 900;
    margin-top: 7vh;
    border:0.1em solid black;
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    position: relative;
    overflow: hidden;
}
div.video button {
    background-color: #00c4ff;
}

div.audio button {
    background-color: #7bd67b;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}
.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}
.ripple:active {
    opacity: .8;
}
